.ct-section {
width:100%;
background-size:cover;
background-repeat:repeat;
}
.ct-section>.ct-section-inner-wrap {
display:flex;
flex-direction:column;
align-items:flex-start;
}
.ct-div-block {
display:flex;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.ct-new-columns {
display:flex;
width:100%;
flex-direction:row;
align-items:stretch;
justify-content:center;
flex-wrap:wrap;
}
.ct-link-text {
display:inline-block;
}
.ct-link {
display:flex;
flex-wrap:wrap;
text-align:center;
text-decoration:none;
flex-direction:column;
align-items:center;
justify-content:center;
}
.ct-link-button {
display:inline-block;
text-align:center;
text-decoration:none;
}
.ct-link-button {
background-color: #1e73be;
border: 1px solid #1e73be;
color: #ffffff;
padding: 10px 16px;
}
.ct-image {
max-width:100%;
}
.ct-fancy-icon>svg {
width:55px;height:55px;}
.ct-inner-content {
width:100%;
}
.ct-slide {
display:flex;
flex-wrap:wrap;
text-align:center;
flex-direction:column;
align-items:center;
justify-content:center;
}
.ct-nestable-shortcode {
display:flex;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-comments {
width:100%;
text-align:left;
}
.oxy-comment-form {
width:100%;
}
.oxy-login-form {
width:100%;
}
.oxy-search-form {
width:100%;
}
.oxy-tabs-contents {
display:flex;
width:100%;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-tab {
display:flex;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-tab-content {
display:flex;
width:100%;
flex-wrap:nowrap;
flex-direction:column;
align-items:flex-start;
}
.oxy-testimonial {
width:100%;
}
.oxy-icon-box {
width:100%;
}
.oxy-pricing-box {
width:100%;
}
.oxy-posts-grid {
width:100%;
}
.oxy-gallery {
width:100%;
}
.ct-slider {
width:100%;
}
.oxy-tabs {
display:flex;
flex-wrap:nowrap;
flex-direction:row;
align-items:stretch;
}
.ct-modal {
flex-direction:column;
align-items:flex-start;
}
.ct-span {
display:inline-block;
text-decoration:inherit;
}
.ct-widget {
width:100%;
}
.oxy-dynamic-list {
width:100%;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			.ct-div-block,
			.oxy-post-content,
			.ct-text-block,
			.ct-headline,
			.oxy-rich-text,
			.ct-link-text { max-width: 100%; }
			img { flex-shrink: 0; }
			body * { min-height: 1px; }
		}            .oxy-testimonial {
                flex-direction: row;
                align-items: center;
            }
                        .oxy-testimonial .oxy-testimonial-photo-wrap {
                order: 1;
            }
            
                        .oxy-testimonial .oxy-testimonial-photo {
                width: 125px;                height: 125px;                margin-right: 20px;
            }
            
                        .oxy-testimonial .oxy-testimonial-photo-wrap, 
            .oxy-testimonial .oxy-testimonial-author-wrap, 
            .oxy-testimonial .oxy-testimonial-content-wrap {
                align-items: flex-start;                text-align: left;            }
            
                                                            .oxy-testimonial .oxy-testimonial-text {
                margin-bottom:8px;font-size: 21px;
line-height: 1.4;
-webkit-font-smoothing: subpixel-antialiased;
            }
            
                                    .oxy-testimonial .oxy-testimonial-author {
                font-size: 18px;
-webkit-font-smoothing: subpixel-antialiased;
            }
                            

                                                .oxy-testimonial .oxy-testimonial-author-info {
                font-size: 12px;
-webkit-font-smoothing: subpixel-antialiased;
            }
            
             
            
                        .oxy-icon-box {
                text-align: left;                flex-direction: column;            }
            
                        .oxy-icon-box .oxy-icon-box-icon {
                margin-bottom: 12px;
                align-self: flex-start;            }
            
                                                                        .oxy-icon-box .oxy-icon-box-heading {
                font-size: 21px;
margin-bottom: 12px;            }
            
                                                                                    .oxy-icon-box .oxy-icon-box-text {
                font-size: 16px;
margin-bottom: 12px;align-self: flex-start;            }
            
                        .oxy-icon-box .oxy-icon-box-link {
                margin-top: 20px;                            }
            
            
            /* GLOBALS */

                                                            .oxy-pricing-box .oxy-pricing-box-section {
                padding-top: 20px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 20px;
alignment: center;
text-align: center;            }
                        
                        .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-price {
                justify-content: center;            }
            
            /* IMAGE */
                                                                                    .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-graphic {
                justify-content: center;            }
            
            /* TITLE */
                                                            
                                    .oxy-pricing-box .oxy-pricing-box-title-title {
                font-size: 48px;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-title-subtitle {
                font-size: 24px;
            }
            

            /* PRICE */
                                                .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-price {
                                                flex-direction: row;                                            }
            
                                    .oxy-pricing-box .oxy-pricing-box-currency {
                font-size: 28px;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-amount-main {
                font-size: 80px;
line-height: 0.7;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-amount-decimal {
                font-size: 13px;
            }
                        
                                    .oxy-pricing-box .oxy-pricing-box-term {
                font-size: 16px;
            }
            
                                    .oxy-pricing-box .oxy-pricing-box-sale-price {
                font-size: 12px;
color: rgba(0,0,0,0.5);
                margin-bottom: 20px;            }
            
            /* CONTENT */

                                                                        .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-content {
                font-size: 16px;
color: rgba(0,0,0,0.5);
            }
            
            /* CTA */

                                                                        .oxy-pricing-box .oxy-pricing-box-section.oxy-pricing-box-cta {
                justify-content: center;            }
            
        
                                .oxy-progress-bar .oxy-progress-bar-background {
            background-color: #000000;            background-image: linear-gradient(-45deg,rgba(255,255,255,.12) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.12) 50%,rgba(255,255,255,.12) 75%,transparent 75%,transparent);            animation: none 0s paused;        }
                
                .oxy-progress-bar .oxy-progress-bar-progress-wrap {
            width: 85%;        }
        
                                                        .oxy-progress-bar .oxy-progress-bar-progress {
            background-color: #66aaff;padding: 40px;animation: none 0s paused, none 0s paused;            background-image: linear-gradient(-45deg,rgba(255,255,255,.12) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.12) 50%,rgba(255,255,255,.12) 75%,transparent 75%,transparent);        
        }
                
                        .oxy-progress-bar .oxy-progress-bar-overlay-text {
            font-size: 30px;
font-weight: 900;
-webkit-font-smoothing: subpixel-antialiased;
        }
        
                        .oxy-progress-bar .oxy-progress-bar-overlay-percent {
            font-size: 12px;
        }
        
        .ct-slider .unslider-nav ol li {border-color: #ffffff; }.ct-slider .unslider-nav ol li.unslider-active {background-color: #ffffff; }.ct-slider .ct-slide {
				padding: 0px;			}
		
                        .oxy-superbox .oxy-superbox-secondary, 
            .oxy-superbox .oxy-superbox-primary {
                transition-duration: 0.5s;            }
            
            
            
            
            
        
        
        
        .oxy-pro-menu {
menu_dropdown_animation:fade-up;
}
.oxy-pro-menu .oxy-pro-menu-list .menu-item a{
padding-top:px;
padding-left:px;
padding-right:px;
padding-bottom:px;
}

.oxy-pro-menu .oxy-pro-menu-list > .menu-item{
margin-top:px;
margin-left:px;
margin-right:px;
margin-bottom:px;
}

.oxy-pro-menu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .sub-menu{
box-shadow:px px px px ;}

.oxy-pro-menu .oxy-pro-menu-show-dropdown .oxy-pro-menu-list .menu-item-has-children > a svg{
margin-top:px;
margin-left:px;
margin-right:px;
margin-bottom:px;
transition-duration:0.4s;
}

.oxy-pro-menu .oxy-pro-menu-show-dropdown .oxy-pro-menu-list .menu-item-has-children > a div{
margin-left:0px;
}

.oxy-pro-menu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .sub-menu .menu-item a{
padding-top:px;
padding-left:px;
padding-right:px;
padding-bottom:px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-open-icon svg{
width:30px;
height:30px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-open-icon{
padding-top:15px;
padding-right:15px;
padding-bottom:15px;
padding-left:15px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-open-icon, .oxy-pro-menu .oxy-pro-menu-mobile-open-icon svg{
transition-duration:0.4s;
}

.oxy-pro-menu .oxy-pro-menu-mobile-close-icon{
top:20px;
left:20px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-close-icon svg{
width:24px;
height:24px;
}

.oxy-pro-menu .oxy-pro-menu-mobile-close-icon, .oxy-pro-menu .oxy-pro-menu-mobile-close-icon svg{
transition-duration:0.4s;
}

.oxy-pro-menu .oxy-pro-menu-off-canvas-container > div:first-child, .oxy-pro-menu .oxy-pro-menu-open-container > div:first-child{
oxy-pro-menu_slug_oxypromenuoffcanvascontaineroxypromenulistmenuitemoxypromenuopencontaineroxypromenulistmenuitem_min_width:px;
}

.oxy-pro-menu .oxy-pro-menu-off-canvas-container{
oxy-pro-menu_slug_oxypromenuoffcanvascontainer_width:px;
}

.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container{
background-color:#ffffff;
}

.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container .menu-item a, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .menu-item a{
padding-top:px;
padding-left:px;
padding-right:px;
padding-bottom:px;
}

.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container{
padding-top:px;
padding-left:px;
padding-right:px;
padding-bottom:px;
}

.oxy-pro-menu .oxy-pro-menu-off-canvas-container, .oxy-pro-menu .oxy-pro-menu-open-container{
background-color:;
background-image:url();
overlay-color:;
background-size:;
background-repeat:;
background-attachment:;
background-blend-mode:;
background-size-width:px;
background-size-height:px;
background-position:px px;
}

.oxy-pro-menu .oxy-pro-menu-off-canvas-container .oxy-pro-menu-list .menu-item-has-children > a svg, .oxy-pro-menu .oxy-pro-menu-open-container .oxy-pro-menu-list .menu-item-has-children > a svg{
font-size:24px;
}

.oxy-pro-menu .oxy-pro-menu-dropdown-links-toggle.oxy-pro-menu-open-container .menu-item-has-children ul, .oxy-pro-menu .oxy-pro-menu-dropdown-links-toggle.oxy-pro-menu-off-canvas-container .menu-item-has-children ul{
background-color:rgba(0,0,0,0.2);
border-top-style:solid;
}

.oxy-pro-menu .oxy-pro-menu-container:not(.oxy-pro-menu-open-container):not(.oxy-pro-menu-off-canvas-container) .oxy-pro-menu-list{
                    flex-direction: row;
               }
.oxy-pro-menu .oxy-pro-menu-container .menu-item a{
                    text-align: left;
                    justify-content: flex-start;
                }
.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container .menu-item, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .menu-item{
                    align-items: flex-start;
                }

            .oxy-pro-menu .oxy-pro-menu-off-canvas-container{
                    top: 0;
                    bottom: 0;
                    right: auto;
                    left: 0;
               }
.oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-open-container .oxy-pro-menu-list .menu-item a, .oxy-pro-menu .oxy-pro-menu-container.oxy-pro-menu-off-canvas-container .oxy-pro-menu-list .menu-item a{
                    text-align: left;
                    justify-content: flex-start;
                }

            
            .oxy-shape-divider {
                width: 0px;
                height: 0px;
                
            }
            
            .oxy_shape_divider svg {
                width: 100%;
            }
            .ct-section-inner-wrap, .oxy-header-container{
  max-width: 1120px;
}
body {font-family: 'Montserrat';}body {line-height: 1.6;font-size: 16px;font-weight: 400;color: #404040;}.oxy-nav-menu-hamburger-line {background-color: #404040;}h1, h2, h3, h4, h5, h6 {font-family: 'EB Garamond';font-size: 36px;font-weight: 700;}h2, h3, h4, h5, h6{font-size: 30px;font-weight: 700;}h3, h4, h5, h6{font-size: 24px;font-weight: 700;}h4, h5, h6{font-size: 20px;font-weight: 700;}h5, h6{font-size: 18px;font-weight: 700;}h6{font-size: 16px;font-weight: 700;}a {color: #d2cb95;text-decoration: none;}a:hover {color: #d2cb95;text-decoration: underline;}.ct-link-text {color: #d2cb95;text-decoration: ;}.ct-link-text:hover {color: #d2cb95;text-decoration: underline;}.ct-link {text-decoration: ;}.ct-link-button {border-radius: 3px;}.ct-section-inner-wrap {
padding-top: 75px;
padding-right: 20px;
padding-bottom: 75px;
padding-left: 20px;
}.ct-new-columns > .ct-div-block {
padding-top: 20px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
}.oxy-header-container {
padding-right: 20px;
padding-left: 20px;
}@media (max-width: 992px) {
				.ct-columns-inner-wrap {
					display: block !important;
				}
				.ct-columns-inner-wrap:after {
					display: table;
					clear: both;
					content: "";
				}
				.ct-column {
					width: 100% !important;
					margin: 0 !important;
				}
				.ct-columns-inner-wrap {
					margin: 0 !important;
				}
			}
.fancy-heading-one {
 font-family:'EB Garamond';
 color:#d2cb95;
 font-size:140px;
 line-height:1;
 -webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale; font-weight:700;
 aos-enable:false;
 z-index:1;
}
@media (max-width: 991px) {
.fancy-heading-one {
 font-size:96px;
}
}

@media (max-width: 767px) {
.fancy-heading-one {
 font-size:72px;
}
}

@media (max-width: 479px) {
.fancy-heading-one {
 font-size:64px;
}
}

.oxy-stock-content-styles {
}
.fancy-heading-two {
 font-family:'EB Garamond';
 font-size:96px;
 font-weight:700;
 line-height:1;
 color:#d2cb95;
}
.fancy-main-button-light-wrapper {
 position:relative;
 left:8px;
 top:8px;
 box-shadow:inset 0px 0px 0px 2px #d2cb95;
}
.fancy-main-button-light:hover{
background-color: transparent;
border: 1px solid #d2cb95;
color: #d2cb95;
}.fancy-main-button-light:hover{
transform:scale(1.05,1.05); border-top-style:solid;
 border-right-style:solid;
 border-bottom-style:solid;
 border-left-style:solid;
 border-top-color:#d2cb95;
 border-right-color:#d2cb95;
 border-bottom-color:#d2cb95;
 border-left-color:#d2cb95;
 border-top-width:2px;
 border-right-width:2px;
 border-bottom-width:2px;
 border-left-width:2px;
 text-decoration:none;
}
.fancy-main-button-light {
background-color: transparent;
border: 1px solid white;
color: white;
padding: 9px 15px;
}.fancy-main-button-light {
 font-family:'Montserrat';
 button-hover_color:#d2cb95;
 font-size:16px;
 font-weight:700;
 line-height:1.5;
 padding-left:60px;
 padding-right:60px;
 padding-top:16px;
 padding-bottom:16px;
 letter-spacing:2px;
 text-transform:uppercase;
 border-top-width:2px;
 border-right-width:2px;
 border-bottom-width:2px;
 border-left-width:2px;
 border-radius:0px;
 top:-8px;
 left:-8px;
 border-top-color:white;
 border-right-color:white;
 border-bottom-color:white;
 border-left-color:white;
 color:white;
 transition-duration:0.2s;
 transition-timing-function:ease;
 transition-property:all;
 position:relative;
 text-decoration:none;
}
.fancy-secondary-button-light:hover{
 text-decoration:none;
}
.fancy-secondary-button-light {
background-color :#1e73be;
border: 1px solid #1e73be;
color: white;
padding: 16px 25.6px;
}.fancy-secondary-button-light {
 font-family:'Montserrat';
 background-color:transparent;
 border-top-color:transparent;
 border-right-color:transparent;
 border-bottom-color:transparent;
 border-left-color:transparent;
 font-size:16px;
 color:white;
 line-height:1.5;
 text-transform:uppercase;
 font-weight:700;
 letter-spacing:2px;
 padding-top:16px;
 padding-bottom:16px;
 padding-left:36px;
 padding-right:36px;
 transition-duration:0.2s;
 transition-timing-function:ease;
 transition-property:all;
}
.fancy-iconblock-1-image {
 width:72px;
 margin-bottom:16px;
}
.fancy-iconblock-1-title {
 font-family:'PT Serif';
 font-size:24px;
 font-weight:700;
 line-height:1;
 margin-bottom:12px;
 color:#2f2f2f;
}
.fancy-iconblock-1-text {
 font-family:'Montserrat';
 color:#666666;
 font-size:16px;
 font-weight:400;
 line-height:1.5;
 -webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;}
.fancy-heading-three {
 font-family:'EB Garamond';
 color:#2f2f2f;
 font-size:64px;
 font-weight:700;
 line-height:1;
}
@media (max-width: 991px) {
.fancy-heading-three {
 font-size:56px;
}
}

@media (max-width: 767px) {
.fancy-heading-three {
 font-size:48px;
}
}

.tabs-3240-tab {
 font-family:'Montserrat';
 color:#bababa;
 text-transform:uppercase;
 letter-spacing:1.5px;
 font-weight:700;
 font-size:12px;
 padding-left:24px;
 padding-right:24px;
 padding-top:12px;
 padding-bottom:12px;
 transition-duration:0.2s;
 transition-timing-function:ease;
 transition-property:all;
 line-height:1.5;
 text-align:center;
}
.tabs-3240-tab:not(.ct-section):not(.oxy-easy-posts),
.tabs-3240-tab.oxy-easy-posts .oxy-posts,
.tabs-3240-tab.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}
.tabs-3240-tab-active {
 background-color:#d2cb95;
 color:white;
}
@media (max-width: 479px) {
.tabs-3240-tab-active {
 margin-bottom:0px;
}
}

.tabs-contents-3240-tab {
 padding-top:0px;
 padding-left:0px;
 padding-right:0px;
 padding-bottom:0px;
}
.tabs-contents-3240-tab:not(.ct-section):not(.oxy-easy-posts),
.tabs-contents-3240-tab.oxy-easy-posts .oxy-posts,
.tabs-contents-3240-tab.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
}
.fancy-artwork-1-superbox {
}

            
                        .fancy-artwork-1-superbox .oxy-superbox-secondary {
                                                transform: scale(1.1);            }
            
                        .fancy-artwork-1-superbox:hover .oxy-superbox-secondary {
                                                transform: scale(1);            }
            
                        .fancy-artwork-1-superbox .oxy-superbox-primary {
                                                transform: scale(1);            }
            
                        .fancy-artwork-1-superbox:hover .oxy-superbox-primary {
                                                transform: scale(1.1);            }
            
        .oxy-superbox-primary {
}
.fancy-artworks-1-image {
 width:100%;
}
@media (max-width: 991px) {
.fancy-artworks-1-image {
 width:900px;
}
}

.oxy-superbox-secondary {
 padding-top:20px;
 padding-left:20px;
 padding-right:20px;
 padding-bottom:20px;
}
@media (max-width: 991px) {
.oxy-superbox-secondary {
}
}

.fancy-artworks-1-back {
 background-color:rgba(0,0,0,0.75);
 text-align:center;
 padding-top:20px;
 padding-left:20px;
 padding-right:20px;
 padding-bottom:20px;
 width:100%;
 height:100%;
}
.fancy-artworks-1-back:not(.ct-section):not(.oxy-easy-posts),
.fancy-artworks-1-back.oxy-easy-posts .oxy-posts,
.fancy-artworks-1-back.ct-section .ct-section-inner-wrap{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}
.fancy-artworks-1-title {
 font-family:'PT Serif';
 color:white;
 font-size:24px;
 font-weight:700;
 line-height:1;
 margin-bottom:16px;
}
.fancy-artwork-1-superbox-x {
 width:12px;
 margin-bottom:16px;
}
.fancy-artworks-1-text {
 font-family:'Montserrat';
 color:white;
 font-size:12px;
 font-weight:400;
 line-height:1.6;
 -webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale; max-width:360px;
}
.fancy-logogrid-1-logo {
 width:14.6%;
 margin-top:1%;
 margin-left:1%;
 margin-right:1%;
 margin-bottom:1%;
}
@media (max-width: 991px) {
.fancy-logogrid-1-logo {
}
}

@media (max-width: 767px) {
.fancy-logogrid-1-logo {
 width:31.33%;
}
}

.fancy-testimonial-1-slide {
}
.fancy-testimonial-1-icon {
 width:36px;
 margin-bottom:24px;
}
.fancy-testimonials-1-text {
 font-family:'Montserrat';
 color:white;
 font-size:16px;
 font-weight:400;
 line-height:1.5;
 font-style:italic;
 margin-bottom:32px;
 -webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;}
.fancy-testimonial-1-avatar {
 width:120px;
 margin-bottom:20px;
}
.fancy-testimonial-1-title {
 font-family:'PT Serif';
 color:white;
 font-size:24px;
 font-weight:700;
 line-height:1;
 -webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale; margin-bottom:8px;
}
.fancy-testimonial-1-label {
 font-family:'Montserrat';
 color:#d2cb95;
 font-size:12px;
 font-weight:400;
 -webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;}
